section#liste_etiquettes{
	
	div.liste_etiqu{

		ul{
			padding: 0;
		}

		li{
			list-style: none;
			margin-bottom: 10px;

		}
		a.btn.btn-primary{
			background: $jaune;
			border-color: $jaune;
			color: $grisfonce;
		}

		.card-header{
			background: $jaune;
		}

		.card-body{
			display: flex;
			justify-content: space-between;
			width: 40vw;

			.icons{
				margin-left: 20px;
				width: 30%;
				display: flex;
				justify-content: space-around;
			}

		}

		div.etiq_buttons{
			width: 100%;
			display: flex;
			justify-content: space-between;
		}
	}
}

@media all and (max-device-width: 800px) {
	section#liste_etiquettes{
		div.card{
			width: 90vw;
		}

		div.etiq_buttons{
			flex-direction: column;
			a{
				margin-bottom: 20px;
			}
		}

		div.liste_etiqu ul li div.card div.card-body{
			width: 100%;
			padding: 10px;

			h5.card-title{
				margin: 5px;
				font-size: 15px;
				width: 100%;
			}	
		}
	}
}