
// Body
$body-bg: #f5f8fa;

// Typography
$font-family-sans-serif: "Raleway", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

//Couleurs
$grisfonce: #262626;
$grisclair: #DEE0C0;
$vert: #6DB99E;
$bleu: #395D66; 
$jaune: #FFC11F; 
$rouge: #ED3534;