body{
	background-color: #EEE;
}

header{
	background-color: $grisfonce;
	height: 60px;
	margin: 0;
}

h2{
	color:#FFFFFF;
	text-align: center;
	padding-top: 10px;
	padding-bottom: 5px;
}

section{
	display: flex;
	justify-content: center;
}



