body{
	background-color: #EEE;
}

header{
	background-color: $grisfonce;
	height: 60px;
	display:flex;
	align-items:center;
	justify-content:center;
}

h2{
	color:#FFFFFF;
	text-align: center;
}

section{
	display: flex;
	justify-content: center;
}

