body{
	background-color: #EEE;
}

header{
	background-color: $grisfonce;
	height: 60px;
}

h2{
	color:#FFFFFF;
	text-align: center;
	padding-bottom: 5px;
}

section{
	display: flex;
	justify-content: center;
}

